<h1>  Output</h1>
<ul>
  <li>
    Writing into an alert box : <b>window.alert()</b>
  </li>
   <li>
    Writing into the HTML output : <b>document.write()</b>
  </li>
   <li>
    Writing into an HTML element : <b>innerHTML</b>
  </li>
   <li>
    Writing into the browser console : <b>console.log()</b>
  </li> 
</ul>

<p id="demo">haha</p>

<h1>Values</h1>
<ul><h3>Literals (Fixed)</h3>
  <li><b>Number</b> : 12</li>
  <li><b>String</b> : "haha"</li>
</ul>
<ul><h3>Variables</h3>
  <li>are used to store data values</li>
  <li>uses the var keyword to define variables</li>
</ul>

<ul>All JS identifiers are case sensitive
  <li>lastName != lastname</li>
</ul>

<ul><b>Camel case</b>
  <li>FirstName, LastName, MasterCard, InterCity </li>
  <li>firstName, lastName, masterCard, interCity</li>
</ul>
<li>JavaScript uses the <b>Unicode</b> character set</li>
<li>If a JavaScript statement does not fit on one line, the best place to break it, is after an operator</li>

<li><br>JavaScript Keywords</br></li>
<table class="w3-table-all" style="width: 100%">
  <tr>
    <th>Keyword</th>
    <th>Description</th>
  </tr>

  <tr>
    <td>break</td>
    <td>Terminates a switch or a loop</td>
  </tr>
  <tr>
    <td>continue</td>
    <td>Jumps out of a loop and starts at the top</td>
  </tr>
  <tr>
    <td>debugger</td>
    <td>Stops the execution of JavaScript, and calls (if available) the debugging function</td>
  </tr>
  <tr>
  <td>do ... while</td>
    <td>Executes a block of statements, and repeats the block, while a condition is 
    true</td>
  </tr>
  <tr>
    <td>for</td>
    <td>Marks a block of statements to be executed, as long as a condition is true</td>
  </tr>
  <tr>
    <td>function</td>
    <td>Declares a function</td>
  </tr>
  <tr>
    <td>if ... else</td>
    <td>Marks a block of statements to be executed, depending on a condition</td>
  </tr>
  <tr>
    <td>return</td>
    <td>Exits a function</td>
  </tr>
  <tr>
    <td>switch</td>
    <td>Marks a block of statements to be executed, depending on different cases</td>
  </tr>
  <tr>
    <td>try ... catch</td>
    <td>Implements error handling to a block of statements</td>
  </tr>
  <tr>
    <td>var</td>
    <td>Declares a variable</td>
  </tr>
</table>

<script>
  window.alert("window.alert");
  document.write("this is document.write");
  document.getElementById("demo").innerHTML = 5 + 6;
</script>

